.item {
  list-style: none;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  display: flex;
  text-align: center;
}

.removeBtn {
  border-radius: 5px;
  border: 2px solid #4f4245;
  background-color: #ddadaf;
  font-weight: bold;
  cursor: pointer;
  height: 30px;
  width: 70px;
  margin-right: 20px;
}

.removeBtn:hover {
  background-color: #722f37;
  box-shadow: 0 14px 28px #d9cfe7, 0 10px 10px #722f37;
  color: whitesmoke;
  transition: 1s;
}

.btnName {
  font-size: 18px;
}
