.addBtn {
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid blueviolet;
  background-color: #e19adc;
  font-weight: bold;
  cursor: pointer;
}

.addBtn:hover {
  background-color: blueviolet;
  transform: scale(1.1);
  box-shadow: 0 14px 28px #d9cfe7, 0 10px 10px blueviolet;
  transition: 1s;
}

.input {
  box-shadow: 0 14px 28px #d9cfe7, 0 10px 10px blueviolet;
}

.wrapper {
  padding: 20px;
}
